{% extends 'admin/base_template.html' %}
{% load static %}
{% load get_item %}
{% load cut_text %}


{% block title %} Заявки с сайта {% endblock %}


{% block page_title %} Заявки с сайта {% endblock %}

{% block nav_ol %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
    <li class="breadcrumb-item active" aria-current="&quot;page&quot;">
        Заявки с сайта
    </li>
</ol>
{% endblock %}

{% block content_width %} class="col-12" {% endblock %}


{% block content %}
<!-- Tab content -->
<!-- Card -->
<div class="card">
    <div class="table-responsive" style="padding:20px;">
        <table class="table table-sm table-hover table-nowrap card-table">
            <thead>
                <tr>
                    <th style="width: 30px;">
                        <a class="list-sort text-muted">№</a>
                    </th>
                    <th>
                        <a class="list-sort text-muted">Ф.И.О.</a>
                    </th>
                    <th>
                        <a class="list-sort text-muted">Номер</a>
                    </th>
                    <th>
                        <a class="list-sort text-muted">Статус</a>
                    </th>
                    <th style="width: 200px;"></th>
                </tr>
            </thead>
            <tbody class="list fs-base">
                {% for obj, i in objects.pairs %}
                <tr>
                    <td>
                        <a class="item-title" href="{% url 'application_edit' obj.id %}">{{ i }}</a>
                    </td>
                    <td>{{ obj.name }}</td>
                    <td>
                        <p class="item-phone text-reset">
                            {{ obj.phone }}
                        </p>
                    </td>
                    <td>
                        <p class="item-status text-reset">
                            {% if obj.status == '2' %}
                            <span class="badge bg-success-soft">{{ obj.get_status_display }}</span>
                            {% elif obj.status == '3' %}
                            <span class="badge bg-danger-soft">{{ obj.get_status_display }}</span>
                            {% elif obj.status == '1' %}
                            <span class="badge bg-primary-soft">{{ obj.get_status_display }}</span>
                            {% endif %}
                        </p>
                    </td>
                    <td>
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'application_edit' obj.id %}" class="btn btn-sm btn-info"><i
                                    class="fe fe-edit-2"></i></a>
                            <a class="btn btn-sm btn-danger ms-3"
                                onclick="var result = confirm('Want to delete?');if (result){form_submit_in_table('delete-form{{ obj.id }}')}"><i
                                    class="fe fe-trash"></i></a>
                            <form action="{% url 'delete' %}" id="delete-form{{ obj.id }}" method="POST"
                                style="display: none;">
                                {% csrf_token %}
                                <input type="hidden" name="item_id" value="{{ obj.id }}">
                                <input type="hidden" name="model_name_del" value="Application">
                                <input type="hidden" name="app_name_del" value="api">
                                <input type="hidden" name="url" value="{{ request.get_full_path }}">
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex justify-content-between">

        <!-- Pagination (prev) -->
        {% include "admin/tags/pagination.html" %}

    </div>
</div>


<!-- JAVASCRIPT -->

<!-- Map JS -->

<!-- Vendor JS -->
{% endblock %}
