{% extends 'admin/base_template.html' %}
{% load static %}
{% load image_thumb %}

{% block title %} Новый язык {% endblock %}


{% block page_title %} Добавить язык {% endblock %}

{% block page_btn %} 
    <div class="col-auto">
        <!-- Navigation (button group) -->
    
        <!-- Buttons -->
        <a href="{% url 'create_lang' %}" class="btn btn-primary ms-2">
            Добавить язык
        </a>
    
    </div>
{% endblock %}


{% block nav_ol %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
    <li class="breadcrumb-item active" aria-current="&quot;page&quot;">
        Языки
    </li>
</ol>
{% endblock %}

{% block content_width %} class="col-12" {% endblock %}


{% block content %}
                <!-- Tab content -->
                <!-- Card -->
                <div class="card"
                    data-list='{"valueNames": ["item-name", "item-title", "item-email", "item-phone", "item-score", "item-company"], "page": 10}'
                    id="contactsList">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">

                                <!-- Form -->
                                <form method="get">
                                    <div class="d-flex">
                                        <div class="input-group input-group-flush input-group-merge input-group-reverse" style="width: 200px;">
                                        <input class="form-control" name="q" type="search" placeholder="Search" {% if request.GET.q %}
                                            value="{{ request.GET.q }}" {% endif %}>
                                            <span class="input-group-text">
                                                <i class="fe fe-search"></i>
                                            </span>
                                        </div>
                                        <button class="btn btn-primary" type="submit">Искать</button>                                        
                                    </div>
                                </form>
                            </div>
                        </div> <!-- / .row -->
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover table-nowrap card-table">
                            <thead>
                                <tr>
                                    <th style="width: 30px;">
                                        <a class="list-sort text-muted">№</a>
                                    </th>
                                    <th>
                                        <a class="list-sort text-muted" data-sort="item-name" href="#">Name</a>
                                    </th>
                                    <th>
                                        <a class="list-sort text-muted" href="#">Code</a>
                                    </th>
                                    <th>
                                        <span class="text-muted">Default</span>
                                    </th>
                                    <th>
                                        <span class="text-muted">Active</span>
                                    </th>
                                    <th style="width: 200px;"></th>
                                </tr>
                            </thead>
                            <tbody class="list fs-base">
                                {% for lang, i in langs.pairs %}
                                    <tr>
                                        <td>
                                            <a class="item-title" href="{% url 'lang_update' lang.id %}">{{ i }}</a>
                                        </td>
                                        <td>
                                            <!-- Avatar -->
                                            <a class="item-name text-reset" href="{% url 'lang_update' lang.id %}">{{ lang.name }}</a>
                                        </td>
                                        <td>
                                            <!-- Text -->
                                            <span class="item-title">{{ lang.code }}</span>
                                        </td>
                                        <td>
                                            {% if lang.default %}
                                                <span class="badge bg-success-soft">Default</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if lang.active %}
                                            <span class="badge bg-success-soft">Active</span>
                                            {% else %}
                                            <span class="badge bg-danger-soft">Inactive</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="d-flex justify-content-end">
                                                <a href="{% url 'lang_update' lang.id %}" class="btn btn-sm btn-info"><i class="fe fe-edit-2"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <!-- Pagination (prev) -->
                        {% include "./tags/pagination.html" %}
                    </div>
                </div>
            </div>
        </div> <!-- / .row -->
    </div>

</div> <!-- / .main-content -->

<!-- JAVASCRIPT -->

<!-- Map JS -->
<script src="{% static 'assets/js/main.js' %}"></script>

<!-- Vendor JS -->
{% endblock %}
