{% extends 'admin/base_template.html' %}
{% load static %}
{% load get_item %}
{% load image_thumb %}

{% block title %} Новый язык {% endblock %}


{% block page_title %} Добавить язык {% endblock %}


{% block nav_ol %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="breadcrumb-item ">
            <a href="{% url 'langs_list' %}">Языки</a>
        </li>
        <li class="breadcrumb-item active" aria-current="&quot;page&quot;">
            Создать
        </li>
    </ol>
{% endblock %}

{% block content_width %} class="col-11" {% endblock %}


{% block content %}
    <div class="card mt-3">
        <div class="card-bodyb p-5">
            <form method="POST" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <input type="hidden" name="dropzone-key" value="{{ dropzone_key }}">
                <input type="hidden" name="id" value="{{ object.id }}">
                <input type="hidden" name="url" value="{{ request.get_full_path }}">

                <div class="form-group">
                    <!-- Label  -->
                    <label class="form-label required">
                        Название
                    </label>
                    <br>
                    <!-- Input -->
                    <input type="text" name="name" class="form-control" {% if object.name %} value="{{ object.name }}" {% endif %} placeholder="Название..." maxlength="255" id="id_name" required>
                    <div class="invalid-feedback" style="display: block;">{{ form.errors.name }}</div>
                </div>

                <div class="form-group">
                    <!-- Label  -->
                    <label class="form-label required">
                        Код
                    </label>
                    <br>
                    <!-- Input -->
                    <input type="text" name="code" {% if object.code %} value="{{ object.code }}" {% endif %}  class="form-control" placeholder="Код" maxlength="255" id="id_code" required>
                    <div class="invalid-feedback" style="display: block;">{{ form.errors.code }}</div>
                </div>

                <!-- Project cover -->
                               
                <div class="row">
                    <div class="col-12 col-xl-2">
                        <div class="form-check form-switch">
                            {{ form.active }}
                            <label class="form-check-label" for="flexSwitchCheckDefault">Active</label>
                        </div> 
                    </div>
                    <div class="col-12 col-xl-2">
                        <div class="form-check form-switch">
                            {{ form.default }}
                            <label class="form-check-label" for="flexSwitchCheckDefault">Default</label>
                        </div>                    
                    </div>
                </div>

                <div class="btn-box text-end">
                    <a href="{% url 'langs_list' %}" class="btn btn-secondary">
                        Отменить
                    </a>
                    <button type="submit" class="btn w-60 btn-primary">
                        Сохранить
                    </button>
                </div>
                <!-- Buttons -->
    
    
            </form>
        </div>
    </div>
    <!-- Form -->
{% endblock %}
