{% extends 'admin/base_template.html' %}
{% load static %}
{% load cut_text %}

{% block title %} Модераторы {% endblock %}


{% block page_title %} Модераторы {% endblock %}

{% block page_btn %}
<div class="col-auto">
    <!-- Navigation (button group) -->

    <!-- Buttons -->
    <a href="{% url 'admins_create' %}" class="btn btn-primary ms-2">
        Добавить
    </a>

</div>
{% endblock %}


{% block nav_ol %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
    <li class="breadcrumb-item active" aria-current="&quot;page&quot;">
        Модераторы
    </li>
</ol>
{% endblock %}

{% block content_width %} class="col-12" {% endblock %}


{% block content %}
<!-- Tab content -->
<!-- Card -->
<div class="card"
    data-list='{"valueNames": ["item-name", "item-title", "item-email", "item-phone", "item-score", "item-company"]}'
    id="contactsList">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">

                <!-- Form -->
                <form method="get">
                    <div class="d-flex">
                        <div class="input-group input-group-flush input-group-merge input-group-reverse"
                            style="width: 200px;">
                            <input class="form-control" name="q" type="search" placeholder="Search" {% if request.GET.q %} value="{{ request.GET.q }}" {% endif %}>
                            <span class="input-group-text">
                                <i class="fe fe-search"></i>
                            </span>
                        </div>
                        <button class="btn btn-primary" type="submit">Искать</button>
                    </div>
                </form>
            </div>
        </div> <!-- / .row -->
    </div>
    <div class="table-responsive" style="padding: 20px;">
        <table class="table table-sm table-hover table-nowrap card-table">
            <thead>
                <tr>
                    <th style="width: 30px;">
                        <a class="list-sort text-muted">№</a>
                    </th>
                    <th>
                        <a class="list-sort text-muted" data-sort="item-name" href="#">Ф.И.О</a>
                    </th>
                    <th>
                        <a class="list-sort text-muted" data-sort="item-title" href="#">Имя пользователя</a>
                    </th>
                    <th style="width: 200px;"></th>
                </tr>
            </thead>
            <tbody class="list fs-base">
                {% for obj, i in objects.pairs %}
                <tr>
                    <td>
                        <a class="item-title" href="{% url 'admins_edit' obj.id %}">{{ i }}</a>
                    </td>
                    <td>
                        <!-- Avatar -->
                        <a class="item-name text-reset" href="{% url 'admins_edit' obj.id %}">{{ obj.first_name|cut_text }}</a>
                    </td>
                    <td>
                        <!-- Text -->
                        <span class="item-title">{{ obj.username }}</span>
                    </td>
                    <td>
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'admins_edit' obj.id %}" class="btn btn-sm btn-info"><i class="fe fe-edit-2"></i></a>
                            <a class="btn btn-sm btn-danger ms-3"
                                onclick="var result = confirm('Want to delete?');if (result){form_submit_in_table('delete-form{{ obj.id }}')}"><i
                                    class="fe fe-trash"></i></a>
                            <form action="{% url 'delete' %}" id="delete-form{{ obj.id }}" method="POST" style="display: none;">
                                {% csrf_token %}
                                <input type="hidden" name="item_id" value="{{ obj.id }}">
                                <input type="hidden" name="url" value="{{ request.get_full_path }}">\
                                <input type="hidden" name="app_name_del" value="auth">
                                <input type="hidden" name="model_name_del" value="User">
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <!-- Pagination (prev) -->
        {% include "./tags/pagination.html" %}
    </div>
</div> <!-- / .main-content -->

<!-- JAVASCRIPT -->

<!-- Vendor JS -->
{% endblock %}