{% extends 'admin/base_template.html' %}
{% load static %}
{% load get_item %}
{% load image_thumb %}

{% block title %} Общие данные {% endblock %}


{% block page_title %} Общие данные {% endblock %}


{% block nav_ol %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
    <li class="breadcrumb-item active" aria-current="&quot;page&quot;">
        Общие данные
    </li>
</ol>
{% endblock %}

{% block content_width %} class="col-12" {% endblock %}


{% block content %}
<form class="row" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-12 col-xl-8">
        <div class="card mt-3">
            <div class="crd-header p-4 pb-0">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    {% for lang in langs %}
                        {% if lang == langs.first %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link px-3 py-2 active" id="tab_{{ lang.id }}" data-bs-toggle="tab"
                                data-bs-target="#{{ lang.code }}" type="button" role="tab" aria-controls="{{ lang.code }}"
                                aria-selected="true">{{ lang.name }}</button>
                        </li>
                        {% else %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link px-3 py-2" id="tab_{{ lang.id }}" data-bs-toggle="tab" data-bs-target="#{{ lang.code }}"
                                type="button" role="tab" aria-controls="{{ lang.code }}" aria-selected="false">{{ lang.name }}</button>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="card-body p-5 pt-4">
                <div class="invalid-feedback" style="display: block;">
                    {% if error_all %}
                        {{ error_all }}
                    {% endif %}
                </div>
                <div class="tab-content" id="myTabContent">
                        {% for lang in langs %}
                            {% if lang == langs.first %}
                                <div class="tab-pane fade show active" id="{{ lang.code }}" role="tabpanel" aria-labelledby="{{ lang.code }}">
                            {% else %}
                                <div class="tab-pane fade" id="{{ lang.code }}" role="tabpanel" aria-labelledby="{{ lang.code }}">
                            {% endif %}
                            <!-- Project name -->
                            <div class="form-group">
                                <!-- Label  -->
                                <label {% if lang.default %} class="form-label required" {% else %} class="form-label" {% endif %}>
                                    Заголовок
                                </label>
                                <br>
                                <!-- Input -->
                                <input type="text" name="title#{{ lang.code }}" 
                                    {% if object.title and object.title|get_item:lang.code %} 
                                        value="{{ object.title|get_item:lang.code }}" 
                                    {% elif request_post and request_post|get_item:'title' %} 
                                        value="{{ request_post|get_item:'title'|get_item:lang.code }}" 
                                    {% endif %} class="form-control">
                                {% if lang.default %}
                                <div class="invalid-feedback" style="display: block;">
                                    {% if error %}
                                    {{ error }}
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <!-- Label  -->
                                <label class="form-label">
                                    Ключевые слова
                                </label>
                                <br>
                                <!-- Input -->
                                <textarea type="text" name="subtitle#{{ lang.code }}" 
                                {% if object.subtitle and object.subtitle|get_item:lang.code %} 
                                    value="{{ object.subtitle|get_item:lang.code }}" 
                                {% elif request_post and request_post|get_item:'subtitle' %} 
                                    value="{{ request_post|get_item:'subtitle'|get_item:lang.code }}"     
                                {% endif %} class="form-control">{% if object.subtitle and object.subtitle|get_item:lang.code %}{{ object.subtitle|get_item:lang.code}}{% elif request_post and request_post|get_item:'subtitle' %}{{ request_post|get_item:'subtitle'|get_item:lang.code }}{% endif %}</textarea>
                            
                            </div>

                            <!-- Project description -->
                            <div class="form-group">

                                <!-- Label -->
                                <label class="form-label mb-1">
                                    Описание
                                </label>
                                <br>
                                <!-- Textarea -->
                                <textarea class="form-control" name="description#{{ lang.code }}" placeholder="Text">{% if object.description and object.description|get_item:lang.code %}{{ object.description|get_item:lang.code}}{% elif request_post and request_post|get_item:'description' %}{{ request_post|get_item:'description'|get_item:lang.code }}{% endif %}</textarea>
                            </div>

                        </div>
                    {% endfor %}
                    <!-- Project description -->
                    <div class="form-group">
                    
                        <!-- Label -->
                        <label class="form-label mb-1">
                            Номер телефона
                        </label>
                        <br>
                        <!-- Textarea -->
                        <input class="form-control" 
                        {% if object.nbm and object.nbm %}
                            value="{{ object.nbm }}" 
                        {% elif request_post and request_post|get_item:'nbm' %} 
                            value="{{ request_post|get_item:'nbm' }}"     
                        {% endif %} name="nbm" placeholder="+998(__)_______">
                    </div>
                    </div>
                <div class="btn-box text-end">
                    <a href="#" class="btn w-30 btn-secondary">
                        Отменить
                    </a>
                    <input type="submit" href="#" class="btn w-40 btn-primary" value="Сохранить">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-4">
        <div class="card mt-3">
            <div class="card-body p-4">
                <div class="form-group">
                    <!-- Label  -->
                    <label class="form-label">
                        Email
                    </label>
                    <br>
                    <!-- Input -->
                    <input type="email" {% if object.email %} value="{{ object.email }}" {% endif %} name="email" class="form-control" placeholder="example@gmail.com">
                </div>
                <div class="form-group">
                    <!-- Label  -->
                    <label class="form-label">
                        Telegram
                    </label>
                    <br>
                    <!-- Input -->
                    <input type="url" {% if object.telegram %} value="{{ object.telegram }}" {% endif %} name="telegram" class="form-control" placeholder="Telegram url">
                </div>
                <div class="form-group">
                    <!-- Label  -->
                    <label class="form-label">
                        Instagram
                    </label>
                    <br>
                    <!-- Input -->
                    <input type="url" {% if object.instagram %} value="{{ object.instagram }}" {% endif %} name="instagram" class="form-control" placeholder="Instagram url">
                </div>
                <div class="form-group">
                    <!-- Label  -->
                    <label class="form-label">
                        Facebook
                    </label>
                    <br>
                    <!-- Input -->
                    <input type="url" {% if object.facebook %} value="{{ object.facebook }}" {% endif %} name="facebook" class="form-control" placeholder="Facebook url">
                </div>
                <div class="form-group">
                    <!-- Label  -->
                    <label class="form-label">
                        YouTube
                    </label>
                    <br>
                    <!-- Input -->
                    <input type="url" {% if object.youtube %} value="{{ object.youtube }}" {% endif %} name="youtube" class="form-control" placeholder="Youtube url">
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group mb-0">
                            <!-- Dropzone -->
                            <label for="dropzone" class="form-label">Лого</label>
                            <!-- Dropzone -->
                            <div class="dropzone dropzone-multiple border-0" data-max="1" data-delete="/admin/delete_static_image" data-url="/admin/add_static_image" data-key="logo1">
                                <!-- Fallback -->
                                <div class="dz-preview d-none"></div>
                                <div class="fallback">
                                    <div class="custom-file">
                                        <input type="file" name="file" class="form-control" id="customFileUploadMultiple">
                                        <label class="form-label" for="customFileUploadMultiple">Choose file</label>
                                    </div>
                                </div>
                            
                                <!-- Preview -->
                                <div class="dz-preview-container" id="logo1" style="padding: 0;">
                                    {% if object.logo_first %}
                                    <div class="dz-preview dz-processing dz-complete dz-image-preview" style="position: relative;">
                                        <div class="dz-image">
                                            <img data-dz-thumbnail="" src='{% image_thumb object.logo_first alias="ten" request=request %}' alt="{{ object.logo_first }}">
                                        </div>
                                        <div class="dz-details">
                                            <div class="dz-filename"><span data-dz-name="">{{ object.icon }}</span></div>
                                        </div>
                                        <a class="dz-remove" data-file="{{ img.id }}"
                                            onclick="var result = confirm('Want to delete?');if (result){submit_form('delete-form-logo_first')}"
                                            data-dz-remove>Удалить</a>
                                        <div action="{% url 'del_static_image' %}" id="delete-form-logo_first" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="url" value="{{ request.get_full_path }}">
                                            <input type="hidden" name="key" value="logo1">
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Form -->



<!-- JAVASCRIPT -->
<script>
    for (let txt of document.querySelectorAll('.editor')) {
        CKEDITOR.replace(txt)
    }


    $(document).ready(() => {
        $('.upload_file').on("change", (e) => {
            let max_file_size = 2000000;
            $(e.target).parent().find(".file_error").css('display', "none")

            if (e.target.files[0].size > max_file_size) {
                $(e.target).val(null)
                $(e.target).parent().find(".file_error").css('display', "block")
            }
        })
    })
</script>

<!-- Vendor JS -->
{% endblock %}