{% extends 'admin/base_template.html' %}
{% load static %}
{% load get_item %}

{% block title %} Переводы {% endblock %}


{% block page_title %} Переводы {% endblock %}

{% block page_btn %}
<div class="col-auto">
    <!-- Navigation (button group) -->

    <!-- Buttons -->
    <button class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#importModal">
        Импортировать(json)
    </button>
    <button class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#newGroupModal">
        Добавить группу
    </button>

</div>
{% endblock %}



{% block css %} 
<style>
    .group-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 12px;
    }
</style>
{% endblock %}


{% block nav_ol %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
    {% if object %}
    <li class="breadcrumb-item">
        <a href="{% url 'translation_list' %}">Переводы</a>
    </li>
    <li class="breadcrumb-item active" aria-current="&quot;page&quot;">
        {{ object.title }}
    </li>
    {% else %}
    <li class="breadcrumb-item active" aria-current="&quot;page&quot;">
        Переводы
    </li>
    {% endif %}
</ol>
{% endblock %}

{% block content_width %} class="col-12" {% endblock %}


{% block content %}
<!-- Tab content -->
<!-- Card -->

<div class="groups">
    <div class="card">
        <!-- <p class="mb-0 ps-4 pt-3">Группы</p> -->
        <div class="card-body">
            <div class="links group-list" id="group_links">
                {% for group in groups %}
                <a href="{% url 'transl_group_detail' group.id %}"
                    class="btn btn-info me-3 bg-transparent text-info group-link">{{ group.title }}</a>
                {% endfor %}
            </div>
            {% if object %}
            <div class="row" style="width: 300px;">
                <div class="col-6">
                    <a href="{% url 'transl_group_edit' object.id %}" class="d-flex p-1 mt-4"
                        style="width: max-content;text-decoration: underline;"><i
                            class="fe fe-edit-2 d-flex align-items-center justify-content-center"
                            style="width: 20px;height:20px"></i> редактировать</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="card"
    data-list='{"valueNames": ["item-name", "item-title", "item-email", "item-phone", "item-score", "item-company"]}'
    id="contactsList">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <!-- Form -->
                <form method="get">
                    <div class="d-flex">
                        <div class="input-group input-group-flush input-group-merge input-group-reverse"
                            style="width: 200px;">
                            <input class="form-control" name="q" type="search" placeholder="Search" 
                            {% if request.GET.q %} value="{{ request.GET.q }}" {% endif %}>
                            <span class="input-group-text">
                                <i class="fe fe-search"></i>
                            </span>
                        </div>
                        <button class="btn btn-primary" type="submit">Искать</button>
                    </div>
                </form>
            </div>
        </div> <!-- / .row -->
    </div>
    <div class="table-responsive" style="padding: 20px;">
        <table class="table table-sm table-hover card-table">
            <thead>
                <tr>
                    <th style="width: 30px;">
                        <a class="list-sort text-muted">№</a>
                    </th>
                    <th>
                        <span class="list-sort text-muted" data-sort="item-name">Ключ</span>
                    </th>
                    {% for lang in langs %}
                    <th>
                        <a class="list-sort text-muted" data-sort="item-title" href="#">Значение({{ lang.code }})</a>
                    </th>
                    {% endfor %}
                    <th style="width: 200px;"></th>
                </tr>
            </thead>
            <tbody class="list fs-base">
                {% for item, i in translations.pairs %}
                <tr data-id="{{ item.id }}">
                    <td>
                        <span class="item-title">{{ i }}</span>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="input-group-text border-0 bg-transparent p-0">
                                <span class="fe fe-copy" style="cursor: pointer;">
                                    <span class="text-dark transl-key"
                                        style="cursor: pointer; outline: none; border:none; font-family: 'Verdana'">
                                        {{ item.group.sub_text }}.{{ item.key }}</span>
                                </span>
                            </div>
                        </div>
                    </td>
                    {% for lang in langs %}
                    <td>
                        {% if item.value|get_item:lang.code %}
                        <span class="item-title" data-lang="{{ lang.code }}">{{ item.value|get_item:lang.code }}</span>
                        {% endif %}
                    </td>
                    {% endfor %}

                    <td>
                        <div class="d-flex justify-content-end">
                            <button type="button" data-id="{{ item.id }}"
                                class="btn btn-sm btn-info tranlation-update-btn" data-bs-toggle="modal"
                                data-bs-target="#exampleModal"><i class="fe fe-edit-2"
                                    style="pointer-events: none;"></i></button>
                            <a class="btn btn-sm btn-danger ms-3"
                                onclick="var result = confirm('Want to delete?');if (result){event.preventDefault();document.getElementById('delete-form{{ item.id }}').submit();}"><i
                                    class="fe fe-trash"></i></a>
                            <form action="{% url 'delete' %}" id="delete-form{{ item.id }}" method="post"
                                style="display: none;">
                                {% csrf_token %}
                                <input type="hidden" name="item_id" value="{{ item.id }}">
                                <input type="hidden" name="model_name_del" value="Translations">
                                <input type="hidden" name="app_name_del" value="admins">
                                <input type="hidden" name="url" value="{{ request.get_full_path }}">
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content" id="translation-update-form" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id">
                    <div class="form-group">
                        <!-- Label  -->
                        <label class="form-label">
                            Ключ
                        </label>
                        <br>
                        <!-- Input -->
                        <div class="input-group input-group-merge input-group-reverse mb-3">
                            <input class="form-control" name='key' placeholder="Ключ..." type="text"
                                aria-label="Input group reverse" aria-describedby="inputGroupReverse">
                            <div class="input-group-text" id="inputGroupReverse">
                                <span class="item-title" id="group-key-name"></span>
                            </div>
                        </div>
                        <div class="invalid-feedback" id="transl_key_error">

                        </div>
                    </div>

                    {% for lang in langs %}
                    <div class="form-group">
                        <!-- Label  -->
                        <label class="form-label">
                            Значение({{ lang.code }})
                        </label>
                        <br>
                        <!-- Input -->
                        <input type="text" name="value#{{ lang.code }}" class="form-control"
                            placeholder="{{ lang.code }}..." required>
                        {% if lang.default %}
                        <div class="invalid-feedback" id="transl_lng_error">

                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="newGroupModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content" id="add_new_group_form" action="{% url 'transl_group_create' %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id">
                    <div class="form-group">
                        <!-- Label  -->
                        <label class="form-label">
                            Название
                        </label>
                        <br>
                        <input type="text" name="title" class="form-control" placeholder="Заголовок..."
                            required>
                        <div class="invalid-feedback" id="transl_group_title_error">

                        </div>
                        <!-- Input -->
                    </div>

                    <div class="form-group">
                        <!-- Label  -->
                        <label class="form-label">
                            Субтекст
                        </label>
                        <br>
                        <!-- Input -->
                        <input type="text" name="sub_text" class="form-control" placeholder="Субтекст..." required>
                        <div class="invalid-feedback" id="transl_group_key_error">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content" id="import_translations" action="{% url 'translation_import' %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="importModal"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id">
                    <div class="form-group">
                        <!-- Label  -->
                        <label class="form-label">
                            JSON
                        </label>
                        <br>
                        <textarea class="form-control" name="translations" id="" cols="30" rows="10" required></textarea>
                        <div class="invalid-feedback" id="transl_group_title_error">
                        </div>
                        <!-- Input -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </div>
            </form>
        </div>
    </div>

    {% if not object %}
    <div class="card-footer d-flex justify-content-between">
        <!-- Pagination (prev) -->
        {% include "./tags/pagination.html" %}
    </div>
    {% endif %}
</div>
<!-- / .main-content -->

<!-- JAVASCRIPT -->
<script>
    for (let item of document.querySelectorAll(".group-link")) {
        if (item.href == window.location) {
            item.classList.remove('bg-transparent')
            item.classList.remove('text-info')
        }
    }
</script>
<!-- Map JS -->
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/update_translation.js' %}"></script>
<script src="{% static 'assets/js/add_transl_group.js' %}"></script>

<!-- Vendor JS -->
{% endblock %}