<ul class="pagination pagination-tabs card-pagination">
    <li class="page-item">
        <a class="page-link ps-0 pe-4 border-end" {% if page_obj.has_previous %}
            href="{{ url }}page={{ page_obj.previous_page_number }}" {% else %} href="#" {% endif %}>
            <i class="fe fe-arrow-left me-1"></i> Пред.
        </a>
    </li>
</ul>

<!-- Pagination -->
<ul class="pagination pagination-tabs card-pagination">
    {% for i in page_range %}
    {% if page_obj.number == i %}
    <li class="active">
        <a class="page" href="{{ url }}page={{ i }}" data-i="1" data-page="10">{{ i }}</a>
    </li>
    {% else %}
        {% if i == page_obj.paginator.ELLIPSIS %}
        <li>
            <a class="page" data-i="1" data-page="10">{{ page_obj.paginator.ELLIPSIS }}</a>
        </li>
        {% else %}
        <li>
            <a class="page" href="{{ url }}page={{ i }}" data-i="1" data-page="10">{{ i }}</a>
        </li>
        {% endif %}
    {% endif %}
    {% endfor %}
</ul>



<!-- Pagination (next) -->
<ul class="pagination pagination-tabs card-pagination">
    <li class="page-item">
        <a class="page-link ps-4 pe-0 border-start" {% if page_obj.has_next %}
            href="{{ url }}page={{ page_obj.next_page_number }}" {% else %} href="#" {% endif %}>
            След. <i class="fe fe-arrow-right ms-1"></i>
        </a>
    </li>
</ul>